{{>header}}
<div class="container">
  <div class="form-container success-box">
    <span>Data submitted successfully </span>
    {{#if inputData}}
      <strong> : {{inputData}}</strong>
    {{/if}}
  </div>
</div>
{{>footer}}